<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To Do List</title>
  </head>
  <body>
    <% if (kindOfCode === "saturday" || kindOfCode === "sunday") { %>
    <h1 style="color: purple">it's a <%= kindOfCode %>!</h1>
    <% } else { %>
    <h1 style="color: blue">it's a <%= kindOfCode %>!</h1>
    <% } %>

    <p>why are you not working</p>
  </body>
</html>
